{% extends "base.html" %}

{% block title %}Портфолио{% endblock %}

{% block content %}
<div class="container">
    <div id="portfolio-title" class="portfolio-title">
        <h1>Портфолио</h1>
    </div>

    <div class="description">
        <p>
            {{ user.edu_info['fio'] }}<br>
        
            {{ user.edu_info['specialty'] }}<br>
        
            {{ user.edu_info['level'] }}, {{ user.edu_info['course_no'] }} курс
        </p>
    </div>

    <!-- Строка поиска -->
    <div class="search-container">
        <input type="text" class="search-input" id="search-input" placeholder="Найти" onkeyup="filterProjects()">
        <select class="sort-select" id="sort-select" onchange="sortProjects()">
            <option value="name_ru">Упорядочить по названию проекта</option>
            <option value="grade">Упорядочить по оценке</option>
            <option value="leader">Упорядочить по имени руководителя</option>
            <option value="finish_date">Упорядочить по дате окончания</option>
        </select>
    </div>
    
    <script src="{{ url_for('static', filename='filter_cards.js') }}"></script>
    <script src="{{ url_for('static', filename='sort_cards.js') }}"></script>

    <div class="card-container">
        {% for project in projects %}
            {% include 'shared_card.html' %}
        {% endfor %}

    </div>

    <div class="button-container">
        <button id="share-btn" class="loginMus__mus-share-button" onclick="copyLink()">
            <div class="loginMus-submit__box">
                <div class="loginMus-share__icon">
                    <img src="{{ url_for('static', filename='images/link_icon_white.png') }}" alt="icon" class="button-icon">
                </div>
                <p class="loginMus-submit__text">Поделиться</p>
            </div>
        </button>
    </div>

    <script>
        function copyLink() {
            const link = window.location.href;
            navigator.clipboard.writeText(link).then(() => {
                alert('Ссылка скопирована в буфер обмена');
            });
        }
    </script>

</div>
{% endblock %}